html {
  font-size: 10px;
  @media (min-width: 600px) {
    font-size: 12px;
  }
  @media (min-width: 960px) {
    font-size: 14px;
  }
  @media (min-width: 1264px) {
    font-size: 16px;
  }
  @media (min-width: 1904px) {
    font-size: 18px;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
}
.navbar-container {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  @media (min-width: 1264px) {
    background-color: black;
  }
  .navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    max-width: 1600px;
    @media (max-width: 1264px) {
      display: none;
    }
    .left {
      margin-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        height: 40px;
        width: 61.82004px;
        fill: #009ae4;
        &:hover {
          fill: #00aeff;
        }
      }
    }
    .right {
      display: flex;
      margin-right: 40px;
    }
    .words {
      margin-left: 30px;
      font-size: 15px;
      display: flex;
      line-height: 40px;
      color: hsla(0, 0%, 100%, 0.7);
      &:hover {
        color: #fff;
      }
    }
    .arrow {
      padding-top: 11px;
      width: 16px;
      height: 16px;
    }
    .games {
      position: relative;
    }
    .modalContent {
      position: absolute;
      height: 350px;
      width: 100vw;
      top: 40px;
      left: 0;
      z-index: 2;
      background-color: rgba(21, 26, 35, 0.95);
      .container {
        width: 90%;
        height: 300px;
        max-width: 1520px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .game {
          position: relative;
          transition: all 1s;
          height: 136px;
          width: 130px;
          margin: 0 5px;
          color: hsla(0, 0%, 100%, 0.7);
          font-size: 11px;
          text-align: center;
          .logo {
            padding-top: 30px;
            height: 64px;
            width: 64px;
          }
        }
      }
      .modal-footer {
        height: 50px;
        max-width: 1520px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .item {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          .img {
            height: 24px;
            width: 24px;
            fill: #00c6ff;
          }
          .words {
            margin-left: 5px;
          }
        }
      }
    }
    .hidden {
      display: none;
    }
  }
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: #fff;
    width: 100%;
    max-width: 1600px;
    @media (min-width: 1264px) {
      display: none;
    }
    .icon {
      width: 48px;
      height: 48px;
      .svg-icon {
        height: 36px;
        width: 36px;
        padding: 6px;
      }
    }
    .navbar-drawer {
      transition: all 0.2s linear;
      position: fixed;
      top: 0;
      left: -320px;
      bottom: 0;
      width: 320px;
      background-color: #2f3543;
      z-index: 2;
      font-size: 1rem;
      color: white;
      font-weight: bold;
      overflow: auto;
      .scroll-container {
        display: flex;
        flex-direction: column;
        .game-logo {
          padding: 30px 30px 20px 35px;
          fill: white;
        }
        .line {
          border-top: 1px solid rgba(229, 227, 220, 0.2);
        }
        .words {
          line-height: 52px;
          display: flex;
          align-items: center;
          padding-left: 30px;
          .arrow {
            margin-left: 6px;
            fill: white;
            height: 15px;
            width: 15px;
          }
        }
        .button {
          align-self: center;
          margin-top: 30px;
          width: 100%;
          max-width: 280px;
          background-color: #f06414;
          line-height: 52px;
          text-align: center;
        }
      }
    }
    .isopen {
      left: 0;
    }
  }
}
.float {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  .container {
    margin: 0 20px 0 20px;
  }
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  .container {
    padding: 0 20px 0 20px;
  }
}
.float-navbar {
  transition: all 0.5s;
  z-index: 1;
  @media (max-width: 1264px) {
    display: none;
  }
  .container {
    max-width: 1520px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #f6f6f6;
    .left,
    .right {
      display: flex;
      align-items: center;
      .game-logo {
        height: 100%;
        background-color: #353c42;
        width: 54px;
        &:hover {
          background-color: #212529;
        }
        .svg-icon {
          height: 80%;
          transform: translate(20%, 12%);
        }
      }
      .block {
        display: flex;
        align-items: center;
        position: relative;
        &:hover {
          border-bottom: 4px solid #f06414;
          .words {
            color: #f06414;
          }
          .arrow {
            fill: #f06414;
          }
        }
        .words {
          margin-left: 20px;
          font-size: 1rem;
          display: flex;
          line-height: 50px;
          font-weight: bold;
          color: #4b535d;
          .sub-nav {
            display: none;
          }
        }
        .arrow {
          width: 16px;
          height: 16px;
          fill: #000;
          margin-left: 5px;
          transition: all .3s linear;
        }
        .line {
          height: 30px;
          border-right: 1px solid #e5e3dc;
          margin-left: 15px;
        }
      }
      .clicked {
        background-color: #353c42;
        .words {
          color: #f06414;
          .sub-nav {
            position: absolute;
            top: 50px;
            left: 0;
            background-color: #353c42;
            width: 100%;
            display: block;
            .nav-line {
              line-height: 40px;
              margin-left: 18px;
              color: #fff;
            }
          }
        }
        .arrow {
          fill: #f06414;
          transform: rotate(-180deg);
        }
      }
      .button {
        margin-left: 20px;
        width: 134px;
        line-height: 50px;
        font-weight: bold;
        font-size: 1rem;
        background-color: #f06414;
        text-align: center;
        color: #fff;
      }
    }
  }
}
.header-section {
  position: relative;
  height: 73vh;
  max-height: 1440px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  .video {
    position: absolute;
    z-index: -1;
    width: 2560px;
    height: 1440px;
  }
  .content {
    width: 60%;
    @media (max-width: 683px) {
      width: 90%;
    }
    max-width: 816px;
    .title {
      .svg {
        fill: white;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 30px;
      .button {
        width: 40%;
        line-height: 40px;
        @media (max-width: 683px) {
          width: 70%;
          line-height: 30px;
          margin-bottom: 20px;
        }
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #fff;
        max-width: 273px;
        margin-right: 20px;
        margin-left: 20px;
        border: 0;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
    .logos {
      display: flex;
      margin-top: 40px;
      justify-content: center;
      height: 44px;
      .bli-logo {
        align-self: flex-start;
        width: 45%;
        fill: white;
        margin-right: 20px;
      }
      .logo {
        fill: white;
        width: 35%;
        margin-right: 20px;
      }
    }
  }
  .pause {
    position: absolute;
    left: 50px;
    bottom: 60px;
    display: flex;
    .svg-container {
      height: 1.3rem;
      width: 1.3rem;
      background-color: #f06414;
      display: flex;
      .pause-svg {
        justify-self: center;
        align-self: center;
        padding-left: 0.3rem;
        height: 0.7rem;
        width: 0.7rem;
      }
      .play-svg {
        display: none;
        fill: white;
        @extend.pause-svg;
      }
    }
    .words {
      color: white;
      line-height: 1.3rem;
      margin-left: 10px;
      font-weight: 0.8rem;
      font-weight: bold;
    }
  }
  .is-pause {
    .svg-container {
      .pause-svg {
        display: none;
      }
      .play-svg {
        display: block;
      }
    }
  }
}
.feature-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .background-img-container {
    position: relative;
    width: 100%;
    @media (min-width: 981px) {
      justify-content: center;
      display: flex;
      height: 550px;
    }
    .background-img {
      @media (min-width: 981px) {
        background-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/bltaea16f381f193243/62a031b3f3c8d8111c809b3b/WatchpointPack_Desktop.jpg?auto=webp');
      }
      @media (max-width: 981px) {
        background-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blta8381530159eb4c8/62a031b354eada112e74b5ed/WatchpointPack_Mobile.jpg?auto=webp');
        background-size: cover;
        height: 280px;
      }
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: top;
      background-repeat: no-repeat;
    }
    .words-container {
      position: relative;
      right: 20px;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1360px;
      margin-bottom: 50px;
      @media (max-width: 981px) {
        padding-top: 300px;
        text-align: center;
        margin: 0 50px;
      }
      .words {
        position: relative;
        bottom: 0px;
        @media (min-width: 981px) {
          margin-left: 50%;
        }
        @media (max-width: 981px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 50px;
        }
        .title {
          font-size: 2.2rem;
          font-weight: bold;
          text-transform: uppercase;
          font-style: italic;
          letter-spacing: 1px;
          color: #4b535d;
        }
        .p {
          font-size: 1.2rem;
        }
      }
      .button {
        font-size: 1.2rem;
        background-color: #f06414;
        color: white;
        text-align: center;
        line-height: 45px;
        width: 200px;
        @media (max-width: 981px) {
          width: 80%;
          max-width: 200px;
          line-height: 30px;
        }
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
.sale-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .background-img-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    @media (min-width: 960px) {
      height: 300px;
    }
    .background-img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      @media (min-width: 960px) {
        background-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blt6a7af037055d920f/62a031ab472e8f7cff3896c1/FoundersPack_Desktop.jpg?auto=webp');
        background-position: center;
      }
      @media (max-width: 960px) {
        background-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/bltb342323284d83396/62a2765d36cb8f7e70b94911/FoundersPack_Mobile_02.jpg?auto=webp');
        background-size: cover;
        background-position: top;
        height: 250px;
      }
    }
    .words-container {
      position: relative;
      right: 20px;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1360px;
      width: 100%;
      @media (min-width: 960px) {
        margin-right: 50%;
        text-align: end;
      }
      @media (max-width: 960px) {
        padding-top: 290px;
        text-align: center;
        margin: 0 80px 0 80px;
      }
      .words {
        position: relative;
        right: 0;
        display: flex;
        justify-content: flex-end;
        @media (max-width: 960px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        // 加个容器二级限制宽度
        .width-container {
          max-width: 620px;
          margin-left: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          @media (min-width: 960px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
          @media (max-width: 960px) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .title {
            font-size: 1.8rem;
            font-weight: bold;
            text-transform: uppercase;
          }
          .p {
            font-size: 1rem;
          }
          .em {
            font-size: 0.9rem;
          }
          .button-container {
            margin-top: 20px;
          }
          .button {
            line-height: 30px;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            justify-self: center;
            @media (max-width: 960px) {
              width: 80%;
              max-width: 200px;
            }
          }
        }
      }
      .button {
        font-size: 1.2rem;
        margin-bottom: 50px;
        background-color: #007dd1;
        color: white;
        text-align: center;
        line-height: 45px;
        width: 200px;
        @media (min-width: 960px) {
          right: 0;
        }
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
.news-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media (min-width: 981px) {
    height: calc(9 / 16 * 100vw);
    max-height: 762px;
  }
  .background-img-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    @media (min-width: 981px) {
      height: 100%;
    }
    .background-img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: top;
      background-repeat: no-repeat;
      @media (min-width: 981px) {
        background-image: url('https://static.playoverwatch.com/img/pages/home/featured-news/bg-2560-ebf0f79d83.jpg');
        background-position: center;
        background-size: cover;
      }
      @media (max-width: 981px) {
        background-image: url('https://static.playoverwatch.com/img/pages/home/featured-news/bg-960-6ff8d7baba.jpg');
        background-size: 100%;
        background-position: top;
        z-index: -1;
        overflow: hidden;
        background-size: cover;
        height: 320px;
      }
    }
    .words-container {
      position: relative;
      right: 20px;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1440px;
      width: 100%;
      margin-left: 30px;
      .news {
        position: relative;
        right: 0;
        height: 78%;
        display: flex;
        @media (max-width: 981px) {
          padding-top: 350px;
          padding-bottom: 100px;
          max-height: 600px;
          height: 70vw;
        }
        @media (max-width: 650px) {
          height: auto;
          max-height: none;
        }
        // 加个容器二次限制宽度
        .width-container {
          height: 100%;
          @media (min-width: 981px) {
            max-width: 720px;
            width: 60%;
          }
          @media (max-width: 981px) {
            width: 100%;
            max-width: 720px;
            margin: 0 auto;
          }
          .title {
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            margin-left: 10px;
            margin-bottom: 10px;
            @media (max-width: 650px) {
              justify-content: center;
            }
            .bar {
              padding: 0 20px 0 20px;
            }
            .cta {
              color: #f06414;
            }
            .svg {
              margin-left: 5px;
              transform: rotate(-90deg);
              height: 22px;
              width: 22px;
              fill: #f06414;
            }
          }
          .news-card-container {
            display: grid;
            height: 100%;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            @media (max-width: 650px) {
              grid-template-rows: 1fr 1fr 1fr 1fr;
              grid-template-columns: 1fr;
              width: 90%;
              max-width: 338px;
              margin: 0 auto;
            }
            .news-card {
              margin: 20px 10px 10px 10px;
              border: 1px solid #ddd;
              position: relative;
              @media (max-width: 650px) {
                height: 60vw;
                max-height: 250px;
              }
              .cover-container {
                height: 75%;
                position: relative;
                max-width: 338px;
                .cover {
                  position: absolute;
                  top: 0;
                  right: 0;
                  left: 0;
                  bottom: 0;
                  background-size: cover;
                  background-position: center;
                }
              }

              .card-bottom {
                position: absolute;
                width: 100%;
                bottom: 0;
                .content {
                  position: absolute;
                  bottom: 0;
                  background-color: #fff;
                  position: relative;
                  padding: 10px 10px 0 20px;
                  font-size: 1rem;
                  .words {
                    font-weight: bold;
                  }
                  .date {
                    margin: 5px 0 10px 0;
                    color: #767676;
                  }
                }
              }
            }
          }
        }
      }
      .join-logo {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 981px) {
          left: 52%;
          width: 20%;
          padding-left: 100px;
        }
        @media (max-width: 981px) {
          top: 50px;
          right: 50%;
          justify-content: flex-start;
          max-width: 192px;
          width: 45%;
        }
        .text {
          font-weight: bold;
          font-size: 1rem;
          margin-bottom: 30px;
        }
        .button {
          background-color: #000;
          color: white;
          font-weight: bold;
          font-size: 1.1rem;
          line-height: 45px;
          text-align: center;
          width: 80%;
          max-width: 200px;
          margin-top: 20px;
          @media (max-width: 981px) {
            line-height: 30px;
          }
          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }
}
.heroes-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: url('https://static.playoverwatch.com/img/scene/candy-5d74c9b93f.jpg');
  background-size: cover;
  background-position: top;
  .title {
    font-size: 2rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .words {
    max-width: 1120px;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 50px;
  }
  .hero-description {
    width: 100%;
    margin-top: 50px;
    position: relative;
    background-image: linear-gradient(90deg, rgba(64, 82, 117, 0) 0, rgba(64, 82, 117, 0.8) 25%, rgba(64, 82, 117, 0.8) 75%, rgba(64, 82, 117, 0));
    background-position: 50%;
    background-size: 100% 200px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 960px) {
      display: none;
    }
    .hero-image {
      max-height: 440px;
      max-width: 490px;
      width: 50vw;
      height: 50vw;
      background-image: url('https://d1u1mce87gyfbn.cloudfront.net/hero/bastion/full-portrait.png');
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
    .description {
      width: 25%;
      max-width: 400px;
      margin-left: 50px;
      color: white;
      .hero-name {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-style: italic;
      }
      .details {
        text-align: center;
      }
    }
  }
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    max-width: 1120px;
    .hero {
      width: 80px;
      height: 105px;
      display: flex;
      flex-direction: column;
      .image-container {
        border: 3px solid #ddd;
        border-radius: 7px;
        margin-left: 5px;
        margin-right: 5px;
        transform: skew(25rad);
        overflow: hidden;
        background-color: rgba(51, 51, 51, 0.9);
        &:hover {
          transform: scale(1.2) skew(25rad);
        }
        .image {
          width: calc(100% + 10px);
          height: 78px;
          background-size: auto 100%;
          background-position: 50% 50%;
          transform: skew(-25rad) translateX(-5px);
        }
      }
      .name {
        width: 100%;
        line-height: 27px;
        font-size: 8px;
        text-align: center;
      }
    }
  }
}
.overwatch-section {
  height: 240px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .button {
    max-width: 200px;
    width: 80%;
    background-color: #f06414;
    line-height: 45px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 960px) {
      line-height: 30px;
    }
    &:hover {
      transform: scale(1.02);
    }
  }
  .media {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    .icons {
      margin-top: 20px;
      display: flex;
      .icon-container {
        position: relative;
        border: 1px solid hsla(0, 0%, 100%, 0.5);
        border-radius: 50%;
        height: 54px;
        width: 54px;
        margin-right: 5px;
        margin-left: 8px;
        .img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 70%;
          height: 70%;
          border: 1px solid hsla(0, 0%, 100%, 0.7);
          border-radius: 50%;
        }
      }
      .dot {
        align-self: center;
        opacity: 0.5;
        left: 0;
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0edf2;
  .language {
    margin-top: 20px;
    display: flex;
    .img {
      height: 24px;
      width: 24px;
      margin-right: 10px;
    }
  }
  .logo {
    width: 120px;
    height: 75px;
    margin-top: 20px;
  }
  .links {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .link {
      font-size: 1rem;
      margin-left: 10px;
      margin-right: 10px;
    }
    .line {
      border-right: 2px solid rgba(51, 51, 51, 0.5);
      height: 10px;
    }
  }
  .app {
    margin-top: 50px;
    display: flex;
    .words {
      margin-right: 5px;
      color: rgba(0, 0, 0, 0.5);
    }
    .link {
      margin-left: 5px;
      color: #0074e0;
    }
  }
  .trademark {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    text-align: center;
    .firstline {
      font-size: 0.8rem;
    }
    .links {
      display: flex;
      .link {
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
  .legal {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 2s;
  display: block;
}
.hidden {
  display: none;
}
